
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Spectral;
    color: #181818;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 56px; 
    font-weight: 800; 
    margin-bottom: 20px;
}
h2 { 
   font-size: 40px; 
   font-weight: 700; 
   margin-bottom: 20px; 
}
h3 { 
   font-size: 24px; 
   font-weight: 700; 
   margin-bottom: 10px; 
}
p { 
    font-size: 14px;
    color: #757575;
    line-height: 1.6;
    margin-bottom: 20px; 
    }

/* Buttons */
.btn-primary {
    display: inline-block;
    background-color: #fd6e0a;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 700;
    border: 2px solid #fd6e0a;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: green;
    color: #fff;
    border: 2px solid green;

}

.btn-outline {
    display: inline-block;
    color: #fd6e0a;
    padding: 12px 30px;
    border-radius: 5px;
    font-weight: 700;
    border: 2px solid #fd6e0a;
    margin-left: 15px;
    transition: 0.3s;
}

.btn-outline:hover {
    background-color: #fd6e0a;
    color: white;
}

/* --- Navbar --- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #fff8f3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-bottom: 1px solid #fd6e0a;
}

.nav-links {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 32px;
    font-weight: 800;
}

.logo span {
    color: #fd6e0a;
}

.nav-links a {
    margin-left: 70px;
    font-weight: 600;
    color: #474747;
}
.nav-link-active:hover{
    color: #fd6e0a;
}

.nav-links .btn-primary {
    color: white;
}

/* --- Hero Section --- */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    background-color: #fff8f3;    
    position: relative;
    height: 600px;
    margin-top: 100px;
}

.hero-content {
    max-width: 40%;
}

.greeting {
    font-size: 24px;
    color: #757575;
    display: block;
    margin-bottom: 10px;
}

.hero-image-1 {
    max-width: 450px;
    margin-left: 250px;
    display: block;
    right: 0;
    z-index: 1;
    position: absolute;
    bottom: 0;
}

.hero-bg-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.vertical-text {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
    writing-mode: vertical-rl;
    font-size: 80px;
    font-weight: 800;
    color: rgba(3, 3, 3, 0.204);
    letter-spacing: 20px;
}

/* --- About Section --- */
.about-section {
    padding: 100px 5%;
    align-items: center;
}

.about-container {
    background-color: #fff8f3;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
}

.about-desc {
    max-width: 800px;
    margin: 0 auto 50px auto;
}

.about-info {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    text-align: center;
}

.info-item {
    margin: 10px;
}

.info-label {
    display: block;
    font-weight: 600;
    color: #757575;
    margin-bottom: 5px;
}

.info-value {
    display: block;
    font-weight: 700;
    font-size: 19px;
    color: #474747;
}

/* --- What I Do Section --- */
.skills-section {
    padding: 100px 10%;
    text-align: center;
}

.section-header {
    max-width: 700px;
    margin: 0 auto 50px auto;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 260px 260px);
    gap: 40px;
    justify-content: center;
}

.skill-card {
    background: white;
    padding: 40px 30px;
    border: none;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.05);
    border-radius: 5px;
    text-align: left;
    transition: transform 0.3s;
    width: 260px;
    height: 350px;
    cursor: pointer;
    transition: 0.5s ease;
}
.skill-card:hover {
  transform: scale(1.1);
}

.skill-card img {
    height: 40px;
    margin-bottom: 20px;
}

/* --- Resume Section --- */
.resume-section {
    padding: 100px 10%;
}

.resume-title {
    text-align: center;
    margin-bottom: 70px;
}

.resume-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.col-title {
    margin-bottom: 30px;
    font-size: 28px;
}

.resume-item {
    margin-bottom: 20px;
    width: 600px;
    height: 150px;
    
}

.resume-sub {
    display: block;
    color: #757575;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 16px;
}

hr {
    border-top: 2px solid #e0e0e0;
    margin: 30px 0;
}

.resume-btn-container {
    text-align: center;
    margin-top: 50px;
}

/* ---Footer/Connect Section--- */
.footer-section {
    background-color: #fff8f3;
    padding: 100px 10%;
}

.footer-container {
    display: flex;
    column-gap: 10%;
    justify-content: center;
}

.social-icons a {
    font-size: 24px;
    color: #181818;
    margin-right: 20px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #fd6e0a;
}

.contact-form form {
    display: grid;
    gap: 20px;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: white;
    border-radius: 5px;
    font-family: Arial;
    font-size: 16px;
}

.contact-form input:focus, 
.contact-form textarea:focus {
    outline: 2px solid #fd6e0a;
}

.contact-form .btn-primary {
    border: none;
    cursor: pointer;
}
